%whiteTxt {
    color: $whiteColor;
}
%darkTxt {
    color: $blackColor;
}
%primaryTxt {
    color: $primaryColor;
}
%primaryBtn {
    color: $whiteColor;
    background-color: $primaryColor;
    border: none;
}