<div class="container">
  <h5>Shopping Cart ({{cartCount}})</h5>
  <div class="row">
    <div class="col-10 col-md-8">
      <div class="row">
        <div class="col-12" *ngFor="let item of cartList">
          <app-single-pdct-card [cartPdctDetails]='item'></app-single-pdct-card>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Total:</h6>
          <h5 class="card-title">
            {{ cartTotalSum }} EGP
          </h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <button class="btn primaryBtn" (click)='proceedToOrder()'>
            <!-- <a routerLink="/order"> -->
              Proceed to Checkout
            <!-- </a> -->
          </button>
          <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
    </div>
  </div>
</div>