<div class="card shadow-sm mb-5 py-5 px-3">
  <div class="row align-items-center">
    <div class="col-2">
      <img src={{cartPdctDetails.product.img}} alt="">
    </div>
    <div class="col-10">
      <h6>
        {{ cartPdctDetails.product.name }}
      </h6>
      <div class="row">
        <div class="col-8">
          <h5>
              {{ cartPdctDetails.product.price }} EGP
          </h5>
          <p>
              {{ cartPdctDetails.product.details }}
          </p>
        </div>
        <div class="col-4 text-right">
          <input type="number" min="1" value={{cartPdctDetails.count}} class="mr-3" (change)='onPdctCountChange($event)'>
          <i class="fas fa-trash p-2" (click)=removeFromCart()></i>
        </div>
      </div>
    </div>
  </div>
</div>

