@import '../../assets/scss/_variables.scss';
@import '../../assets/scss/_placeholders.scss';

.txt-white {
  @extend %whiteTxt;
}
.txt-dark {
  @extend %darkTxt;
}
.txt-primary {
  @extend %primaryTxt;
}
.primaryBtn {
  @extend %primaryBtn;
}

.view-control {
  i {
    font-weight: bold;
    font-size: 30px;
    margin-right: 30px;
  }
}
  
  
  